body{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#content {
  min-block-size: 100%;
  min-inline-size: 100%;
  min-height: 700px;
  box-sizing: border-box;
  display: grid;
  text-align: center;
  place-content: center;
  margin: auto !important;
  margin-top: 40px;
  font-family: system-ui, sans-serif;
  background-color: #F2E9DE;
  z-index: 2;
}
